.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 10px;
}

.chatHeader_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 10px;
}

.chatHeader_header_left > h3 {
  display: flex;
  align-items: center;
  color: white;
}
.chatHeader_header_hash {
  color: grey;
  font-size: 30px;
  padding: 10px;
}

.chatHeader_header_right {
  display: flex;
  align-items: center;
  flex: 0.5;
  justify-content: space-between;
}

.chatHeader_header_right_icon {
  padding: 7px;
  cursor: pointer;
  font-size: large;
}
.chatHeader_header_right_icon:hover {
  color: white;
}

.chatHeader_header_search {
  display: flex;
  align-items: center;
  color: grey;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 5px;
}

.chatHeader_header_search > input {
  background: transparent;
  outline-width: 0;
  color: white;
  border: none;
}
