.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}
.message:hover {
  background-color: #2d3135;
}

.message_info {
  margin-left: 20px;
}

.message_time {
  color: grey;
  margin-left: 20px;
  font-size: x-small;
}

.message_userProfilePicture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #bdbdbd;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #ffffff;
}
